#set($limit = $util.defaultIfNull($ctx.arguments.limit, 10))
#set($offset = $util.defaultIfNull($ctx.arguments.offset, 0))

{
  "version": "2018-05-29",
  "statements": [
    "SELECT * FROM fragrances LIMIT :LIMIT OFFSET :OFFSET"
  ],
  "variableMap": {
    ":LIMIT": $limit,
    ":OFFSET": $offset
  }
}