#if($ctx.error)
    $util.appendError($ctx.error.message, $ctx.error.type, $ctx.result)
#else
    #set($fragrancesResult = $util.rds.toJsonObject($ctx.result))
    #if($fragrancesResult) 
        $util.toJson($fragrancesResult[0])
    #else
        null
  #end
#end